set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'R9ELMEDIA'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Kickstart FIPS Install RHEL 9 (Default Headless)' --class fedora --class gnu-linux --class gnu --class os {
        linuxefi /images/pxeboot/vmlinuz fips=1 inst.stage2=hd:LABEL=R9ELMEDIA inst.ks=hd:LABEL=R9ELMEDIA:/ks/ks-el9-00def.ks quiet
        initrdefi /images/pxeboot/initrd.img
}
menuentry 'Kickstart FIPS Install RHEL 9 (NO LUKS Headless)' --class fedora --class gnu-linux --class gnu --class os {
        linuxefi /images/pxeboot/vmlinuz fips=1 inst.stage2=hd:LABEL=R9ELMEDIA inst.ks=hd:LABEL=R9ELMEDIA:/ks/ks-el9-01noluks.ks quiet
        initrdefi /images/pxeboot/initrd.img
}
#menuentry 'Kickstart FIPS Install RHEL 9 (Desktop Developer)' --class fedora --class gnu-linux --class gnu --class os {
#        linuxefi /images/pxeboot/vmlinuz fips=1 inst.stage2=hd:LABEL=R9ELMEDIA inst.ks=hd:LABEL=R9ELMEDIA:/ks/ks-el9-deskdevel.ks quiet
#        initrdefi /images/pxeboot/initrd.img
#}
menuentry 'Install Red Hat Enterprise Linux 9' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=R9ELMEDIA quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Test this media & install Red Hat Enterprise Linux 9' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=R9ELMEDIA rd.live.check quiet
	initrdefi /images/pxeboot/initrd.img
}
submenu 'Troubleshooting -->' {
	menuentry 'Install Red Hat Enterprise Linux 9 in text mode' --class fedora --class gnu-linux --class gnu --class os {
		linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=R9ELMEDIA inst.text quiet
		initrdefi /images/pxeboot/initrd.img
	}
	menuentry 'Rescue a Red Hat Enterprise Linux system' --class fedora --class gnu-linux --class gnu --class os {
		linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=R9ELMEDIA inst.rescue quiet
		initrdefi /images/pxeboot/initrd.img
	}
}
